/LabVIEW/Build
/LabVIEW/OPP.AudioStreamer/Build
/LabVIEW/OPP.Mixer/Build
/LabVIEW/OPP.AudioStreamer/*.aliases
/LabVIEW/OPP.Mixer/*.aliases
/MATLAB/OPP/*.mat
/Mixer/OPP.Mixer/obj
/Mixer/OPP.Mixer/.vs
/Mixer/OPP.Mixer/bin
/Mixer/DevShell/obj
/Mixer/DevShell/bin
/Mixer/OPP.Mixer/packages
/Streamer/src/OppStreamer.Core/obj
/Streamer/src/OppStreamer.Core/bin
/Streamer/src/OppStreamer.Hardware/bin
/Streamer/src/OppStreamer.Hardware/obj
/Streamer/test/OppStreamer.Core.Tests/bin
/Streamer/test/OppStreamer.Core.Tests/obj
/Streamer/.vs
/Streamer/test/OppStreamer.DevShell/obj
/Streamer/test/OppStreamer.DevShell/bin
/Streamer/src/OppStreamer.Diagnostics/obj
/Streamer/src/OppStreamer.Diagnostics/bin
/Streamer/src/OppStreamer.ConfigApi/obj
/Streamer/src/OppStreamer.ConfigApi/bin
