/LabVIEW/Build
/LabVIEW/OPP.AudioStreamer/Build
/LabVIEW/OPP.Mixer/Build
/LabVIEW/OPP.AudioStreamer/*.aliases
/LabVIEW/OPP.Mixer/*.aliases
/MATLAB/OPP/*.mat
/Mixer/OPP.Mixer/obj
/Mixer/OPP.Mixer/.vs
/Mixer/OPP.Mixer/bin
/Mixer/DevShell/obj
/Mixer/DevShell/bin
/Mixer/OPP.Mixer/packages
